{% extends 'base.html' %}

{% block title %}Add Topic{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <form class="m-3" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3 class="text-center">Add Topic</h3>
                      
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div id="content-container"></div>

                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary" onclick="addContentField()">Add Topic</button>
                            <button type="submit" class="btn btn-success">Update Course</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-form" style="display: none;">
    <h5 class="text-center mt-3">Chapter</h5>
    <div class="mb-3">
        <label class="form-label">Content Title</label>
        <input type="text" class="form-control" name="content_title[]" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" name="content_description[]" required></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Upload Content Video</label>
        <input type="file" class="form-control" name="content[]" accept="video/*" required>
    </div>
</div>

<script>
    let contentFieldCount = 0;

    function addContentField() {
        const contentContainer = document.getElementById('content-container');
        const contentForm = document.querySelector('.content-form').cloneNode(true);
        contentForm.querySelector('h5').innerText = `New Chapter ${contentFieldCount + 1}`;
        contentForm.style.display = 'block'; // Show the cloned form
        contentContainer.appendChild(contentForm);
        contentFieldCount++;
    }
</script>

{% endblock %}
