{% extends 'base.html' %}

{% block title %}Content{% endblock %}
{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <div class="container">
        <h3 class="text-center mt-3 mb-3">Course Content</h3>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                    <div class="card-body">
                        <h4 class="card-title text-center"><b>{{ content.content_title }}</b></h4>
                        <!-- <video controls width="100%">
                            <source src="/media/{{ content.content }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video> -->
                        <video controls width="100%" poster="/media/{{ thumbnail}}" controlsList="nodownload">
                            <source src="/media/{{ content.content }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
