{% extends 'base.html' %}

{% block title %}Content{% endblock %}
{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <div class="container">
        <h3 class="text-center mt-3 mb-3 fw-bolder">{{course}}</h3>
        <br>
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            {% for content in contents %}
                <div class="col ">
                    <div class="card shadow p-3 mb-5 bg-body rounded " style="max-width: 540px;">
                        <h5 class="text-center fw-bold">Chapter - {{forloop.counter}} </h5>
                        <div class="card-body">
                            <video controls width="100%"  controlsList="nodownload" class="card-img-top border border-dark">
                                <source src="/media/{{ content.content }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <div class="card-body">
                                <h5 class="card-title"><b>{{content.content_title}}</b></h5>
                                <p class="card-text">{{content.content_description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}
